.apip_max_height1 {
  height: max-content;
}

.apip_max_width1 {
  width: max-content !important;
}

.apip_w70 {
  width: 70%;
}

.apip_bg1 {
  background: #fffc;
}

.apip_bg2 {
  background: #3f00ff;
}

.apip_bg3 {
  background: #f07af0d1;
}

.apip_bg4 {
  background: #6610f2;
}

.apip_rounded {
  border-radius: 20px;
}

.apip_rounded_10 {
  border-radius: 10px;
}
